:root {
    --deep-amethyst: #1E0A3A;
    --moderate-purple: #2D1B69;
    --lavender: #8B5FBF;
    --snow-lavender: #E3DAFF;
    --white: #FFFFFF;
    --light-text: #B8A1D9;
    --bgc: #C4B0FF;
}

body {
    font-family: "Montserrat", sans-serif;
}

@keyframes progressFill {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

.progress-fill {
    animation: progressFill 1.5s ease-in-out;
    transform-origin: left;
}